/** mixins **/
/** mixins end **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("http://wutsapp.net/images/dist/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 839px;
  padding: 20px 0;
}

.page {
  width: 100%;
  height: 100%;
}

.phone {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 800px;
}

.chat-root {
  height: 100%;
}

.wa-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.wa-container .status-bar {
  height: 25px;
  background: #054d44;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
}

.wa-container .status-bar:after {
  content: "";
  display: table;
  clear: both;
}

.wa-container .status-bar div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
}

.wa-container .user-bar {
  height: 55px;
  background: #075e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
}

.wa-container .user-bar:after {
  content: "";
  display: table;
  clear: both;
}

.wa-container .user-bar div {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wa-container .user-bar div.actions {
  float: right;
  margin: 0 0 0 20px;
}

.wa-container .user-bar div.actions.more {
  margin: 0 12px 0 20px;
}

.wa-container .user-bar div.actions.attachment i {
  display: block;
  transform: rotate(-45deg);
}

.wa-container .user-bar .user {
  margin: 0 0 0 8px;
  width: 36px;
  height: 36px;
}

.wa-container .user-bar .user img {
  border-radius: 50%;
  display: block;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  width: 100%;
}

.wa-container .user-bar .user-name {
  font-size: 16px;
  margin: 0 0 0 8px;
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wa-container .user-bar .user-name span {
  display: block;
  font-size: 12px;
}

.wa-container .bottom-bar {
  height: 47px;
  background: #000;
  color: #fff;
  font-size: 22px;
}

.wa-container .bottom-bar div {
  width: 33.333333%;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wa-container .bottom-bar div.triangle i {
  display: block;
  transform: rotate(-90deg);
}

.wa-container .chat-window {
  height: calc(100% - 152px);
  position: relative;
  background: url("http://wutsapp.net/images/dist/wall.jpg");
  background-size: 100%;
  box-shadow: inset 0 10px 10px -10px #000000;
}

.wa-container .chat-window:after {
  content: "";
  display: table;
  clear: both;
}

.wa-container .chat-window .conversation {
  width: 100%;
  overflow: auto;
  height: calc(100% - 68px);
  padding: 0 16px;
}

.wa-container .chat-window .conversation:after {
  content: "";
  display: table;
  clear: both;
}

.wa-container .chat-window .balloon {
  padding: 6px;
  position: relative;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  clear: both;
  margin: 2px 0;
  max-width: 85%;
}

.wa-container .chat-window .balloon:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.wa-container .chat-window .balloon .data {
  display: inline-block;
  padding: 0 20px 0 16px;
  font-size: 11px;
  color: #b9b9b9;
  position: relative;
  bottom: -5px;
  float: right;
  background-repeat: no-repeat;
  background-position: right 3px;
  background-color: transparent;
  background-size: 16px auto;
}

.wa-container .chat-window .balloon .data.blue {
  background-image: url("http://wutsapp.net/images/dist/blue.png");
}

.wa-container .chat-window .balloon img {
  width: 100%;
}

.wa-container .chat-window .balloon:first-child {
  margin: 16px 0 8px;
}

.wa-container .chat-window .balloon.him {
  background: #fff;
  float: left;
  border-radius: 0px 5px 5px 5px;
}

.wa-container .chat-window .balloon.him.second {
  background: #fff;
  float: left;
  border-radius: 5px;
}

.wa-container .chat-window .balloon.him .data {
  padding: 0 0 0 16px;
}

.wa-container .chat-window .balloon.him:after {
  top: 0;
  left: -10px;
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.wa-container .chat-window .balloon.second:after {
  top: 0;
  left: -10px;
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  display:none;
}

.wa-container .chat-window .balloon.you {
  background: #e1ffc7;
  float: right;
  border-radius: 5px 0px 5px 5px;
}

.wa-container .chat-window .balloon.you.second {
  background: #e1ffc7;
  float: right;
  border-radius: 5px;
}

.wa-container .chat-window .balloon.you:after {
  top: 0;
  right: -10px;
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
}

.wa-container .chat-window .textarea {
  width: 100%;
  z-index: 2;
  left: 0;
  position: absolute;
  bottom: 8px;
  height: 50px;
  padding: 0 0 0 8px;
}

.wa-container .chat-window .textarea:after {
  content: "";
  display: table;
  clear: both;
}

.wa-container .chat-window .textarea ::-webkit-input-placeholder {
  color: #b9b9b9;
}

.wa-container .chat-window .textarea ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b9b9b9;
}

.wa-container .chat-window .textarea :-ms-input-placeholder {
  color: #b9b9b9;
}

.wa-container .chat-window .textarea div,
.wa-container .chat-window .textarea textarea {
  height: 100%;
  float: left;
  background: #fff;
}

.wa-container .chat-window .textarea .emoticons {
  width: 10%;
  background: url("http://wutsapp.net/images/dist/smile.png") center center no-repeat #fff;
  background-size: 20px;
  border-radius: 5px 0 0 5px;
}

.wa-container .chat-window .textarea textarea {
  width: 63%;
  border: 0;
  outline: none;
  padding-top: 14px;
  resize: none;
}

.wa-container .chat-window .textarea .photo {
  width: 10%;
  border-radius: 0 0 5px 0;
  position: relative;
  text-align: center;
}

.wa-container .chat-window .textarea .photo:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  top: 0;
  right: -10px;
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

.wa-container .chat-window .textarea .photo i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7d8488;
  font-size: 24px;
}

.wa-container .chat-window .textarea .send-mic {
  width: 17%;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.wa-container .chat-window .textarea .send-mic .circle-cont {
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00897b;
  width: 48px;
  height: 48px;
  box-shadow: 0 1px 0 #00564d;
}

.wa-container .chat-window .textarea .send-mic .circle-cont i {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.wrapperchat {
  height: calc(100% - 81px);
}

.page.nexus6 .phone {
  background-image: url("http://wutsapp.net/images/dist/nexus6.png");
  background-size: auto 799px;
}

.page.nexus6 .wa-container {
  width: 382px;
  height: 681px;
  padding: 6px 0 0;
}

.page.nexus6 .wa-container .chat-window {
  height: calc(100% - 55px);
}

.page.nexus6 .wrapperchat {
  height: calc(100% - 69px);
}

.more {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.more a, .more a:visited {
  padding: 10px 20px;
  color: black;
  font-size: 24px;
  background: yellow;
}



  /*
    Kiminle tanışmak istersiniz?
  */

.tanisalim{
  background-image: url("http://wutsapp.net/images/dist/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tanismaFormu {
  font-family:'Open Sans Condensed', sans-serif;
  width: 400px;
  min-width:250px;
  margin: 20px auto;
  position: relative;
  box-shadow: 1px 1px 10px #fff;
}

#tanismaFormu .fieldset {
  background-color:#d5d5d5;

  border-radius: 3px;

}

#tanismaFormu legend {
  text-align: center;
  background: #121313;
  width: 100%;
  padding: 30px 0;
  border-radius: 3px 3px 0 0;
  color: white;
  font-size:2em;
}

.fieldset form{
  border:1px solid #2f2f2f;
  margin:0 auto;
  display:block;
  width:100%;
  padding:30px 20px;
  box-sizing:border-box;
  border-radius:0 0 3px 3px;
}
.placeholder #tanismaFormu label {
  display: none;
}
.no-placeholder #tanismaFormu label{
  margin-left:5px;
  position:relative;
  display:block;
  color:grey;
  text-shadow:0 1px white;
  font-weight:bold;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#tanismaFormu input[type=text] {
  padding: 15px 20px;
  border-radius: 1px;
  margin:5px auto;
  background-color:#f7f7f7;
  border: 1px solid silver;

  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition:background-color .5s ease;
  -moz-transition:background-color .5s ease;
  -o-transition:background-color .5s ease;
  -ms-transition:background-color .5s ease;
  transition:background-color .5s ease;
}
.no-placeholder #tanismaFormu input[type=text] {
  padding: 10px 20px;
}

#tanismaFormu input[type=text]:active, .placeholder #tanismaFormu input[type=text]:focus {
  outline: none;
  border-color: silver;
  background-color:white;
}

#tanismaFormu input[type=submit] {
  font-family:'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
  outline:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #00897B;
  padding: 10px;
  color: white;
  border: 1px solid #3498db;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position:relative;
  top:0;
}

#tanismaFormu input[type=submit]:hover {
  background-color: #2980b9;
}

#tanismaFormu input[type=submit]:active {
  background:#5C8CA7;
}


.parsley-error-list{
  background-color:#C34343;
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  margin-top:-5px;
  margin-bottom:5px;
  color:white;
  border:1px solid #870d0d;
  border-top:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
  top:-1px;
  text-shadow:0px 1px 1px #460909;
  font-weight:700;
  font-size:12px;
}
.parsley-error{
  border-color:#870d0d!important;
  border-bottom:none;
}
#tanismaFormu select{
  width:100%;
  padding:5px;
}
::-moz-focus-inner {
  border: 0;
}
